* {
	font-family: 'Nanum Gothic', sans-serif;
	
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	position: relative;

	background: #dbebff;

	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: center;
}

header h1 {
	background: #dbffdd;
	padding: .5rem 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

main, #homePage.active {
	display: flex;
	flex-direction: column;

	flex-grow: 1;

	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

main x-page {
	display: none;
}

x-page.active {
	display: block;
}

#datepicker {
	font-size: 4vw;
	border: none;
}

#eventurlContainer {
	padding-top: 3rem;
}

#eventurl {
	font-size: 70%;
	user-select: all;
}

x-page {
	display: block;
	width: 100%;
	height: 100%;
}

#eventPage.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mainClock {
	height: 60vmin;
	width: 60vmin;
}

#mainDateContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-top: 1rem;
	max-width: 80vw;
	background: #000;
	color: #fff;
	padding: .5rem 1rem;
	border-radius: 2rem;
}

#mainDateContainer>* {
	margin: 0;
	padding: 0;
}

#mainTime {
	font-size: 100%;
}

#mainDate {
	font-size: 150%;

}

#timeZone {
	margin-top: .25rem;
    color: #ffaf00;
    font-size: xx-small;
}

#datepicker {
    padding: 1rem;
    border-radius: 1.5rem;	
}

#copyButton {
	height: 1rem;
	width: 1rem;
	margin-left: .25rem;
	background: none;
	border: none;
}

#copyButton:hover {
	background: #fff;
	border-radius: .25rem;
}

#copyConfirmation {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 60%;
	opacity: 0;
	transform: translateY(-25px);

	transition-property: opacity, transform;
	transition-duration: 1.7s;
	transition-timing-function: ease-out;
}

#copyConfirmation.active {
	opacity: 1;
	transform: translateY(5px);
}
